<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <welcome-file-list>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <context-param>
        <param-name>context-key</param-name>
        <param-value>hello-context-param</param-value>
    </context-param>


    <servlet>
        <servlet-name>hello</servlet-name>
        <servlet-class>org.lili.servlet.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>hello</servlet-name>
        <url-pattern>/hello-servlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>life</servlet-name>
        <servlet-class>org.lili.servlet.LifeCycleServlet</servlet-class>
        <init-param>
            <param-name>look</param-name>
            <param-value>hello life init</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>life</servlet-name>
        <url-pattern>/life</url-pattern>
    </servlet-mapping>
    
    <filter>
        <filter-name>simple-filter</filter-name>
        <filter-class>org.lili.filter.SimpleFilter</filter-class>
        <init-param>
            <param-name>filter</param-name>
            <param-value>hello filter init</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>simple-filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>encode</filter-name>
        <filter-class>org.lili.filter.EncodeFilter</filter-class>
        <init-param>
            <param-name>charSet</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encode</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>org.lili.listener.BaseServletContextListener</listener-class>
    </listener>
    
</web-app>